body {
  background-color: #a3d5d3;
}

#board {
  position: relative;
  top: -80px;
}

.choices {
  position: relative;
  top: -100px;
  margin: 0px;
  display: inline-block;
  border: 1px solid black;
}

.choice {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
}

.container {
  position: relative;
  top: 35px;
  display: inline-block;
  margin: 30px;
  padding: 5px;
  border: 2px solid black;
}

.results {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

#Uresult {
  position: relative;
  top: -30px;
  font-size: 30px;
  width: 100px;
}

#Presult {
  position: relative;
  top: -30px;
  font-size: 30px;
  width: 100px;
}

h5 {
  position: relative;
  top: -20px;
}

h2 {
  display: inline-block;
  position: relative;
  top: -30px;
}

img {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
